.header3  .navbar-inverse .navbar-nav > li > a:hover,.other-content ul li:before,.sub-form2 form .message3-btn .submit:hover,
.price span,.success-message a:hover,.text3-withbtn a,.tabber-info .btnn,
.service4 a:hover,.facts i,.our-brands .btnn:hover,.banner4-content .ver4-pur,#topbar-version8 .header3 .navbar-inverse .navbar-nav > li > a:hover{
	color:#4183d7;
}
.text3-line,.open-com1,.clients-line,.subscribe3,.tabber-info .btnn:hover,.plan4-text,.banner4-content .ver4-pur:hover,
.experience-version8 .entry,#thought p:after,#thought p:before,#thought p{
	background:#4183d7;
}
.accordion-section .active span:after{
	border-bottom-color:#4183d7;
}
.callout-message a:hover,.banner3-content .btnn,.text3-withbtn a:hover,.our-story .btnn:hover{
	background:#4183d7;
	border-color:#4183d7;

}
.service4 a:hover{
	border-color:#4183d7;
}
.sub-form4 form .message3-btn .submit,
#sub-form4 form .message3-btn .submit:hover{
background:#c0392b;
	border-color:#c0392b;
}

.top-social4 .header3 .navbar-inverse .navbar-nav > li > a:hover,.banner4-content .ver4-pur{
	border-color:#4183d7;
}
.text3-withbtn a,.tabber-info .btnn{
	border-color:#4183d7;
}

#sub-form4 form .message3-btn .submit:hover{
	opacity:.9;
}
.form-v8 #senddd,.form-v8 #sendddd{
	background:#4183d7 !important;
	border-color:#4183d7 !important;
}
.plan4:hover{
	background:rgba(65,131,215,1);
}	
.service-version8 i{
color:#4183d7;
}