.header3  .navbar-inverse .navbar-nav > li > a:hover,.other-content ul li:before,.sub-form2 form .message3-btn .submit:hover,
.price span,.success-message a:hover,.text3-withbtn a{
	color:#2ba1ec;
}
.text3-line,.open-com1,.clients-line,.subscribe3{
	background:#2ba1ec;
}
.accordion-section .active span:after{
	border-bottom-color:#2ba1ec;
}
.callout-message a:hover,.banner3-content .btnn,.text3-withbtn a:hover,.our-story .btnn:hover{
	background:#2ba1ec;
	border-color:#2ba1ec;

}

.text3-withbtn a{
	border-color:#2ba1ec;
}
.com1:hover  i,.com2:hover  i,.com3:hover  i,.plan2 .btnn:hover{
	background:#2ba1ec !important;	
}
.team-img-overlay{
	background:rgba(29,183,256,.5);	
}
.plan2 .btnn{
	border-color:#2ba1ec;
	color:#2ba1ec;
	}