.header3  .navbar-inverse .navbar-nav > li > a:hover,.other-content ul li:before,.sub-form2 form .message3-btn .submit:hover,
.price span,.success-message a:hover,.text3-withbtn a,.tabber-info .btnn,
.service4 a:hover,.facts i,.our-brands .btnn:hover,.banner4-content .ver4-pur{
	color:#99ac22;
}
.text3-line,.open-com1,.clients-line,.subscribe3,.tabber-info .btnn:hover,.plan4-text,.banner4-content .ver4-pur:hover{
	background:#99ac22;
}
.accordion-section .active span:after{
	border-bottom-color:#99ac22;
}
.callout-message a:hover,.banner3-content .btnn,.text3-withbtn a:hover,.our-story .btnn:hover,.sub-form4 form .message3-btn .submit{
	background:#99ac22;
	border-color:#99ac22;

}
.top-social4 .header3 .navbar-inverse .navbar-nav > li > a:hover,.banner4-content .ver4-pur{
	border-color:#99ac22;
}
.text3-withbtn a,.tabber-info .btnn{
	border-color:#99ac22;
}


.plan4:hover{
	background:rgba(152,171,32,1);
}	