.header2  .navbar-inverse .navbar-nav > li > a:hover,.sub-form2 form .message3-btn .submit:hover,
.price span,.success-message a:hover,#topbar-version6 .header2 .navbar-inverse .navbar-nav > li > a:hover{
	color:#59abe3;
}
.sub-form2,.title-line1,.accordion-section .active i,.plan:hover,.open-com2,.formm #senddd{
	background:#59abe3;
}
.accordion-section .active span:after{
	border-bottom-color:#59abe3;
}
.callout-message a:hover{
	background:#fff;
	color:#59abe3;
	border-color:#59abe3 ;
}
.callout-message a{
	background:#5d6b7a ;
	border-color:#5d6b7a ;

}
.com1 i:hover,.com2 i:hover,.com3 i:hover{
	background:#59abe3 !important;	
}
.open-com2:after{
	border-color: #59abe3 transparent transparent #59abe3;
}
.formm #senddd:hover{
	background:rgba(89,171,227,.9);
}
#singh-uppp{
	background:#5d6b7a ;
	
}
#singh-uppp:hover{

	color:#fff !important;
}